@model Prog_Lab1.Models.BlogItem
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Pomyślnie dodaleś wpis o tytule @Model.Title</h1>
